body {
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.6;
	font-size: 20px;
	color: #444;
	padding: 0 10px;
	font-family: 'Open Sans', sans-serif;;
}

h1, h2, h3 {
	line-height: 1.2em;
}

h2 { font-size: 1.3em;}

strong {
    font-weight: 700;
}

table {
	font-size: inherit;
}

blockquote {
	background-color: rgba(211, 211, 211, 0.17);
    padding: 10px 40px;
    margin: 0;
    border-radius: 7px;
}

.no-bullet {
    list-style: none;
}

.post-date {
	font-weight: lighter;
}

.td-align {
	width: 120px;
	text-align: right;
	vertical-align: top;
}

footer, .links {
	color: rgba(128, 128, 128, 0.68);
	font-weight: lighter;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto 
}

img.half {
	width: 50%;
}

pre {
  overflow-x: auto;
  width: 100%;
  padding: 15px;
  line-height: 1.2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

code {
	font-family: 'Source Code Pro', monospace;
	font-size: 0.8em;
	color: white;
	padding: 2px 6px;
	background: #29281e;
	border-radius: 7px;
}

.paging a {
	opacity: 0.25;
}
.paging a:hover {
	opacity: 0.7;
	background: none;
}
.paging .left, .paging .right {
	position: fixed;
	top: 50%;
	left: 50%;
	font-size: 60px;
}
.paging .left {
	margin-left: -400px;
}
.paging .right {
	margin-left: 380px;
}

footer {
	font-size: initial;
}

#home-img {
	border-radius: 7px;
	margin-left: 0;
}