<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading"><i class="fa fa-paragraph"></i>&nbsp;&nbsp;{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>
            <a class="social" href="{{ site.portfolio_url }}"><i class="fa fa-briefcase fa-lg"></i></a>&nbsp;&nbsp;
            <a class="social" href="{{ site.github_url }}"><i class="fa fa-github fa-lg"></i></a>&nbsp;&nbsp;
            <a class="social" href="{{ site.twitter_url }}"><i class="fa fa-twitter fa-lg"></i></a>&nbsp;&nbsp;
            <a class="social" href="{{ site.instagram_url }}"><i class="fa fa-instagram fa-lg"></i></a>&nbsp;&nbsp;
          </li>
        </ul>
      </div>

      

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
