<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading"><i class="fa fa-paragraph"></i>&nbsp;&nbsp;{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>
            <a class="social" href="{{ site.portfolio_url }}" id="portfolio"><i class="fa fa-briefcase fa-lg fa-fw"></i></a>
            <a class="social" href="{{ site.github_url }}" id="github"><i class="fa fa-github fa-lg fa-fw"></i></a>
            <a class="social" href="{{ site.twitter_url }}" id="twitter"><i class="fa fa-twitter fa-lg fa-fw"></i></a>
            <a class="social" href="{{ site.instagram_url }}" id="instagram"><i class="fa fa-instagram fa-lg fa-fw"></i></a>
            <a class="social" href="https://www.beeminder.com/speesbag" id="beeminder"><i class="fa fa-line-chart fa-lg fa-fw"></i></i></a>


            

          </li>
        </ul>
      </div>

      

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
