<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Software developer, CS student, radical socialist, armchair novelist.</p>
    <p>I hoard knowledge;<br>I know nothing.</p>
    <p>For entertainment purposes only.</p>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="https://github.com/shelbyspees">GitHub</a></li>
      <li><a href="https://twitter.com/speesbag/">Twitter</a></li>
      <li><a href="https://instagram.com/speesbag/">Instagram</a></li>
      <li><a href="http://linkedin.com/in/shelbyspees">LinkedIn</a></li>
    </ol>
  </div>
</div>
