/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.header-cont {
    z-index: 4;
    width:100%;
    position:fixed;
    top:0px;
    background-color: lighten($brand-color, 40%);
}


.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Sidebar
 */
@media only screen and (min-width: 800px) {

    #sidebar {
        position: absolute;
        top: 130px; 
        left: 0;
        width: 260px;
        background: lighten($grey-color-light, 5%);
    }

    #sidebar-list {
        margin: 20px 20px 20px 20px;
        width: 180px;
        height: 100%;
        color: $grey-color-dark;
        font-size: $small-font-size;
    }

    .sidebar-post-list {
    margin-left: 0;
    list-style: none;

        > li {
            margin-bottom: $spacing-unit/4;
        }
    }
}



@media screen and (max-width: 800px) {
    #sidebar {
        display: none;
    }

    #sidebar-list {
        display: none;
    }

    #sidebar-post-list {
        display: none;
    }
}


/**
 * Page content
 */

.page-content {
    padding: $spacing-unit 0;
    margin: 70px auto; 
    top: 30px;

    border-left: solid 1px #bbb;
    border-right: solid 1px #bbb;
    border-bottom: solid 1px #999;
    position: relative;
    box-shadow: 0 0 5px rgba(71, 71, 71, 0.2);
    max-width: 640px;
    border-top: solid 1px #bbb;
    background-color: $background-color;
}

@media only screen and (min-width: 800px) {
  .page-content {
    padding-right: 300px; 
    margin: 70px auto 70px 220px; 

  }
}

.anchor {
     padding-top: 70px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


.reading {
    min-height: 140px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}

.reading-img {
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}

.reading-container {
    float: left;
}

@media only screen and (min-width: 800px) {
    .reading {
        width: 0;
        min-width: 570px;
    }

    .reading-img {
        width: 0;
        text-align: left;
        padding-right: 20px;
        min-width: 150px;
        float: left;
        padding-bottom: 0;
    }
}

.list-by-topic {
    list-style: none;
    > li {
        margin-bottom: $spacing-unit/4;
    }
}