<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include JB/analytics %}

  <body>

    {% include header.html %}
    <div id="sidebar">
      <div id="sidebar-list">
        <h3><strong>speesblog</strong> posts:</h3>
        <ul class="sidebar-post-list">
          {% for post in site.posts limit:30%}
            <li>
            {{ post.date | date: "%b %d" }} <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper vert-line">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
