<!DOCTYPE html>
<html>
  <head>
    <meta content='{{ site.title }}' property='og:title' />
    <title>{{ site.title }}</title>
    {% include head.html %}
  </head>
  <body role="document">
    <div class="blog-masthead">
      {% include nav.html %}
    </div>
    <div class="container">
      {% include header.html %}
      <div class="row">
        {{ content }}
        {% include sidebar.html %}
      </div>

    </div>
    {% include footer.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
