<!DOCTYPE html>
<html>
  {% include head.html %}
  <body role="document">
    <div id="wrapper">
      {% include nav.html %}
      <div class="container">
        {% include header.html %}

        <div class="row">
          <div class="col-sm-8 blog-main">

            <div class="blog-post">
              <h2 class="blog-post-title">
              <a href="{{ page.url }}">{{ page.title }}</a>
              </h2>
              {{ content }}
              </div> <!-- .blog-post -->
              </div> <!-- .blog-main -->
              {% include sidebar.html %}
              </div> <!-- .row -->
              </div> <!-- .container -->
              {% include footer.html %}
              </div> <!-- #wrapper -->
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
            </body>
          </html>
