<!DOCTYPE html>
<html>
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' name='title' />
    <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body role="document">
    <div id="wrapper">
      {% include nav.html %}
        <div class="container">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </div>
    {% include footer.html %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
