<html>
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' property='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div id='container'>
      {% include links.html %}
      {% include pages.html %}
        <article class='post'>
          <h1>
            {{ page.title }}
            <div><small class="post-date">{{ page.date | date_to_string }}</small></div>
          </h1>
          {{ content }}


        </article>
      <p>{% include links.html %}</p>
    </div>
    {% include footer.html %}
  </body>
</html>
