<!DOCTYPE html>
<html>
  {% include head.html %}
  <body role="document">
      {% include nav.html %}
    <div class="container">
      {% include header.html %}
      <div class="row">
        <div class="col-sm-8 blog-main">

        {% include older-newer.html %}
        <div class="blog-post">
          <h2 class="blog-post-title">{{ page.title }}</h2>
          <p class="blog-post-meta">{{ page.date | date_to_string }}</p>
          {{ content }}
          {% include older-newer.html %}
        </div> <!-- .blog-post -->
      </div> <!-- .blog-main -->
      </div> <!-- .row -->
    </div> <!-- .container -->
    {% include footer.html %}
  </body>
</html>
