<html>
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' property='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div id='container'>
      {% include pages.html %}
      {% include older-newer.html %}
        <article class='post'>
          <h1>
            {{ page.title }}
          </h1>
          <span class="post-date">{{ page.date | date_to_string }}</span>
          {{ content }}
        </article>
      {% include older-newer.html %}
    </div>
    {% include footer.html %}
  </body>
</html>
